.home-container {
  .home-banner {
    width: 100%;
    height: 40vh;
    background-image: url('https://ep01.epimg.net/elpais/imagenes/2018/03/12/album/1520854925_297953_1520859348_noticia_normal_recorte1.jpg');
    background-size: cover;
    background-position: center;
  }

  .home-voting {
    margin: auto;
  }
}
