.custom-button {
  min-width: 100px;
  width: auto;
  letter-spacing: 0.5px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: white;
    color: black;
  }
}
